@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
body{
    text-align: center;
}

h1{
    font-family: "Poppins", sans-serif;
    color: #432818;
    font-size: 70px;
  font-weight: 300;
  font-style: bold;
}
h2{
    font-family: "Cookie", cursive;
    color: #432818;
    font-size: 60px;
}
table{
    margin: auto;
}
* {
    padding: 0;
    margin: 0;
    }

.image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(bg8.jpg);
    }
    
.image-overlay{
        width: 700px;
        height: 600px;
        background-color:#edeae3cf;
        position: absolute;
        top: 50px;
        left: 400px;
        border-radius: 25px;
        padding: 25px;
    }
    
th{
    font-size: 40px;
    color: #432818;
        font-family: "Cookie", cursive;
    }

input{
    color: #432818;
    background-color: #edeae3cf;
    font-size: 20px;
    padding: 5px;
    border-radius: 25px;

}

button{
    color: #000000;
    font-family: "Cookie", cursive;
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #a1592f;
    border-radius: 25px;
    font-weight: 500;

}
.Countdown{
    display: flex;
    justify-content: center;
}
.heading{
    color: #432818;
    font-size: 20px;
    font-family: "Cookie", cursive;
    text-transform: uppercase;

}

.time{
    background-color:  #a1592f;
    color: #000000;
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
    border-radius: 25px;

}